@import url('reset.css');

h1 {
  color: red;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 26px;
}

.Background {
  background-image: url('../../assets/winter-background.jpg');
  background-size: cover;
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: -1;
}

