@import url('reset.css');

.Background {
  width: 100%;
  height: 100vh;
  background-image: url('../../assets/warm-background.jpg');
  background-size: cover;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 26px;
  color: red;
}