@import url('reset.css');

.Card img {
  height: 7vh;
  margin: 20px;
  opacity: .8;
}

.Card h3 {
    font-size: 33px;
    color: white;
    margin-bottom: 10px;
}

.Card h4{
  font-size: 30px;
}

.Card{
  background-color: hsla(0,0%,0%,0.4);
  box-sizing: border-box;
  color: white;
  height: 25vh;
  padding-top: 5px;
  text-align: center;
  width: 125px;
}

.high-low{
  display: flex;
  justify-content: space-around;
}

.high{
  font-weight: 600;
}

.low{
  font-weight: 300;
}