h3{
  color: white;
  font-size: 24px;
  height: 5vh;
}

.searchBar{
  display: flex;
  justify-content: space-between;
  margin: 7vh auto 0 auto;
  width: 475px;
}

.searchInput{
  border: none;
  background: none;
  color:white;
  cursor: pointer;
  font-size: 25px;
  height: 4vh;
  padding: 0;
}

.searchInput::placeholder{
  color:white;
}

.searchInput:focus{
  outline: none;
}

.searchInput:focus::placeholder {
  color: transparent
}

.searchIcon {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../../assets/search.png')
  width: 5vh;
}