h3{
  color: white;
  font-size: 24px;
  height: 5vh;
}

.searchBar{
  display: flex;
  justify-content: space-between;
  margin: 7vh auto 0 auto;
  width: 475px;
}

.searchInput{
  border: none;
  background: none;
  color:white;
  cursor: pointer;
  font-size: 25px;
  height: 4vh;
  padding: 0;
}

.searchInput::placeholder{
  color:white;
}

.searchInput:focus{
  outline: none;
}

.searchInput:focus::placeholder {
  color: transparent
}

.searchIcon {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../../assets/search.png');
  width: 5vh;
}


@media screen and (max-width: 650px) {

  .searchBar {
    display: flex;
    justify-content: baseline;
    margin: 7vh auto 0 auto;
    width: 364px;
}

.CurrentWeather {
  background-color: hsla(0, 0%, 0%, 0.6);
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.95);
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 390px;
  margin: 22px auto 5vh auto !important;
  width: 86vw !important;
  z-index: 30;
}

.tenDay {
  display: flex;
  flex-wrap: wrap;
  height: 25vh;
  justify-content: space-around;
  margin: 60vh -7.5vw !important;
  position: absolute;
  width: 100%;
}

.sevenHourDiv {
  display: flex;
  flex-wrap: wrap;
  height: 25vh;
  justify-content: space-around;
  margin: 60vh -7vw !important;
  position: absolute;
  width: 100%;
}

.Card{
  margin-bottom: 2vh;
}

}