
.searchBar{
  width: 475px;
  margin: 7vh auto 0 auto;
  display: flex;
  justify-content: space-between;
}

.searchDifferentLocation {
  border: none;
  background: none;
  color:white;
  font-size: 25px;
  padding: 0;
  height: 4vh;
}

.searchDifferentLocation::placeholder{
  color:white;
}

.searchDifferentLocation:focus{
  outline: none;
  opacity: .5;
}

h3{
  font-size: 25px;
  color: white;
  height: 5vh;
}